<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClassWebBI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ClassWebBI.Properties.Settings>
      <setting name="fData" serializeAs="String">
        <value />
      </setting>
      <setting name="fCodUsuario" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fNomeUsuario" serializeAs="String">
        <value />
      </setting>
      <setting name="fAdministrador" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fMail" serializeAs="String">
        <value />
      </setting>
      <setting name="fUsuario" serializeAs="String">
        <value />
      </setting>
      <setting name="fSenha" serializeAs="String">
        <value />
      </setting>
      <setting name="fTempDirUsuario" serializeAs="String">
        <value />
      </setting>
      <setting name="fTempDir" serializeAs="String">
        <value>C:\WebBI\Temp</value>
      </setting>
      <setting name="fConnectionString" serializeAs="String">
        <value>Data Source=DATACENTER;Initial Catalog=WebBI;Persist Security Info=True;User ID=sa;Password=sqlserver</value>
      </setting>
    </ClassWebBI.Properties.Settings>
  </userSettings>
</configuration>